@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@theme {
  --font-roboto: "Roboto", sans-serif; 
  --font-host-grotesk: "Host Grotesk", sans-serif;

  --color-accent-1: #05b651;
  --color-black: #2c2c2c;
  --color-black-transparent: rgba(44,44,44,0.8);
  --color-white: #e9e9e9;
  --color-grey: #424242;
}